@import './src/assets/styles/variables.scss';

.wrapper {
	color: $black;
	padding: 30px;
	border-radius: 23px;

	> div {
		display: flex;
		align-items: center;
		column-gap: 40px;

		> div {
			display: flex;
			align-items: center;
			column-gap: 3px;
			cursor: pointer;


		}
	}

	h3 {
		text-transform: uppercase;
	}
}
