@import './fonts.scss';

$accent: #242529;
$black: #0c0c0c;
$grey: #2a2b2f;
$dark-grey: #181a1d;
$yellow: #fee8ab;
$lilac: #f6deff;
$text: #fbfbfb;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$mobile: 480px;

$default-font: 'Gilroy';
