@import './src/assets/styles/variables.scss';

.input-wrapper {
	display: flex;
	flex-direction: column;

	.error {
		padding: 2px 10px 0 10px;
		color: rgb(138, 9, 9);
		// font-weight: 500;
		font-size: 16px;
	}
}

.input {
	border-radius: 10px;
	border: none;
	width: 100%;
	font-size: 18px;
	align-self: center;
	padding: 10px 10px;
	font-family: 'Gilroy';
}
